body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 1%;
}

.question-card {
    background: rgb(166, 244, 244);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5%;
    margin-bottom: 20px;
    position: relative;
}



.flag{
    width: 50%;
    
    display: flex;
    flex-direction: column;
}
.flag>span{
    
    font-size: 1.8em;
    margin-bottom: 5%;
}
.question-card h4 {
    margin-top: 0;
    color: #333;

}

.question-text {
    font-size: 1.5vh;
    color: black;
    margin-bottom: 10px;
}

.question-text code {
    display: block;
    background: #f9f9f9;
    padding: 2%;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow-x: auto;
    color: black;
    font-weight: bold;
    white-space: pre-wrap;
    font-size: 0.8em;
}

.answer-text {
    font-size: 1.0em;
    color: black;
    
}

.answer {
    display: none;
    font-weight: bold;
    color:black;
    font-size: 1.0em;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1%;
    color: black;
}

.console_link{
    text-decoration: none;
    color: rgb(60, 174, 60);
}


.btn_background_color{
    background: linear-gradient(90deg, #abdcff, #0396ff);
}

.btn_sucess_color{
    background-color: #00ff6e;
}



